@-webkit-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-size:14px;
}

.four-oh-four {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
  background-color: black;
  transition: opacity 300ms ease-out;
  background-position: center center;
  background-repeat: no-repeat;
}
.four-oh-four .dJAX_internal {
  opacity: 0.0;
}
.four-oh-four form, .four-oh-four input {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
}

.terminal {
  position: relative;
  padding: 2rem;
}
.terminal .prompt {
  display: block;
  width:100%;
  font-family: 'AndaleMono', monospace;
  /*font-family: 'Monaco', monospace;*/
  font-weight: bold;
  font-size: 0.9rem;
  white-space: pre-wrap;
  color: rgb(0,255,0);
  /*
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
  */
  line-height: 9px;
  margin-bottom: 0.75em;
}
.terminal .prompt:before {
  content: '> ';
  display: inline-block;
}
.terminal .new-output {
  display: inline-block;
}
.terminal .new-output:after {
  display: inline-block;
  vertical-align: -0.15em;
  width: 0.75em;
  height: 1em;
  margin-left: 5px;
  background: rgb(0,194,0);
  box-shadow: 1px 1px 1px rgba(31, 240, 66, 0.65), -1px -1px 1px rgba(31, 240, 66, 0.65), 1px -1px 1px rgba(31, 240, 66, 0.65), -1px 1px 1px rgba(31, 240, 66, 0.65);
  -webkit-animation: cursor-blink 1.25s steps(1) infinite;
  -moz-animation: cursor-blink 1.25s steps(1) infinite;
  animation: cursor-blink 1.25s steps(1) infinite;
  content: '';
}

.display-container {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.display-container img {
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
}

.kittens p {
  letter-spacing: 0;
  opacity: 0;
  line-height: 1rem;
}

.kitten-gif {
  /*margin: 20px;*/
  /*max-width: 300px;*/
}

.four-oh-four-form {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
}


.prompt.red,
.prompt span.red {
  color:rgb(201,27,0);
  text-shadow: 0 0 2px rgba(255,27,0, 0.75);
}

.prompt.green,
.prompt span.green {
  color: rgb(0,194,0);
  text-shadow: 0 0 2px rgba(31, 240, 66, 0.75);
}

.prompt.white,
.prompt span.white {
  color: rgb(255,255,255);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.50);
}

.prompt.cyan,
.prompt span.cyan {
  color: rgb(0,197,199);
  text-shadow: 0 0 2px rgba(0,220,199, 0.75);
}

.uppercase {
  text-transform: uppercase;
}

.spaced {
  letter-spacing: 0.25em;
}
